.App {
  text-align: center;
  background-color: aqua;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  padding-bottom: 20px;
  padding-top: 20px;
}

.cell {
  margin: 0;
  opacity: 0;
}

td {
  border: solid 4px;
  padding: calc(10px + 2vmin);
  width: calc(10px + 2vmin);
  box-sizing: border-box;
  font-size: calc(10px + 2vmin);
  font-weight: bold;
}

tr, td {
  border-radius: 20px;
}

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
 }
}

h2 {
  animation: bounce 0.5s infinite alternate;
}

h2, h3 {
  margin: 0.5%;
}

button {
  padding: 0.5%;
  border: 5px solid white;
  border-radius: 10px;
  background-color: transparent;
  color: white;
  font-size: calc(10px + 2vmin);
  box-shadow: 0 5px #999;
  cursor: pointer;
}

button:hover {
  background-color: #FF69B4;
}

button:active {
  background-color: #FF69B4;
  transform: translateY(2px);
}

svg{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  pointer-events: none;
}

#strikeLine{
  position: fixed;
  top: 0;
  left: 0;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 100%;
  stroke-width: 4px;
  stroke: white;
  stroke-linecap: round;
  pointer-events: none;
}