.App {
  text-align: center;
  background-color: aqua;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.cell {
  margin: 0;
  opacity: 0;
}

td {
  border: solid 4px;
  padding: calc(10px + 2vmin);
  width: calc(10px + 2vmin);
  box-sizing: border-box;
}

tr, td {
  border-radius: 20px;
}